In [ ]:
import numpy as np
import pandas as pd

## Intro to Pandas

Pandas objects can be thought of as enhanced versions of NumPy arrays in which the rows and columns can be identified with labels rather than simple integer indices.

The row labels for Pandas objects are called indexes.

The column labels for Pandas objects are called column names.

The two most widely used __Pandas data structures__ are __Series__ and __DataFrame__.

### Series in Pandas

A Pandas Series is a one-dimensional array of indexed data. It is a column of data where each value has an index. This index could be an integer (0,1,2,...) or a texttual label (e.g., person 1, person 2,... ).

Here is the general syntax to create a series: *pd.Series(data, index=index)*, where data can be:

- An array
- A list
- A dictionary

The default index is an integer sequence starting at zero. We can always define our indexes if we do not want the default integer indexes.

In [ ]:
# Ex: Creating a series from a list:

Seriesx= pd.Series([0.25, 0.5, 0.75,1])

Seriesx

When creatring Seriesx, we did not define an index; thefore, a defaul index was created

In [ ]:
# We can access both a Series' values and its indexes
# The values of a Series are a NumPy array

Seriesx.values

In [ ]:
type(Seriesx.values)

In [ ]:
Seriesx.index

In [ ]:
type(Seriesx.index)

In [ ]:
# We can indexed and sliced Series as we do with arrays

Seriesx[1]

In [ ]:
Seriesx[0:2]

If we do not want to use the default index for the Series that we create, we can define our own index. See next:

In [ ]:
Seriesx1= pd.Series([0.25, 0.5, 0.75,1], index=['a','b','c','d'])

Seriesx1

In [ ]:
Seriesx1.index

In [ ]:
# Indexing a Series based on a non-numeric explicitely defined index

Seriesx1['b']

In [ ]:
# We can also choose to index a Series using the implicit integer index

Seriesx1[1]

#### What's the difference btw a NumPy array and Pandas Series?

The essential difference is the presence of the index: while a Numpy Array has an implicitly defined integer index used to access the values, in a Pandas Series, we can explicitly define an index if we want to.

Defining our own indexes is an advantage. For example, the index need not be an integer, but can consist of values of any desired type.

### Data frames in Pandas

If a Series is the equivalent of a one-dimensional NumPy array with flexible indixes, a data frame is the equivalent of a two-dimensional NumPy array. What's the difference between a two dimensional NumPy array and a Pandas data frame?

A two dimensional NumPy array only has implicit integer indexes for both the rows and cols

A Pandas data frame has flexible row indices and flexible column names (flexible= you can change the implicit integer indexes and define your own)

Thus a data frame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns can have an explicitely defined index for accessing the data.


### Constructing DataFrame objects

A Pandas data frame can be constructed in a variety of ways.

The following webpages have nice summaries on the different ways of creating dataframes:

https://towardsdatascience.com/15-ways-to-create-a-pandas-dataframe-754ecc082c17


https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

#### Creating a data frame from a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a data frame with any specified column and index names. 
If the index defition is omitted, an integer index will be used for each row.

In [ ]:
# Let's create a two dimensional array that we will then use to create a data frame

a= np.full((3,2),10)
a

In [ ]:
pd.DataFrame(data= a, columns=['x1','x2'], index=['a','b','c'])

In [ ]:
# Creating a DF from a two-dimensional array ommiting the index definition

pd.DataFrame(data= a, columns=['x1','x2'])

#### Creating a data frame by passing the following arguments to pd.DataFrame(): a list with the observations (i.e., rows), and the column and index names

__Note__: This is not a common way of creating a data frame

In [ ]:
df1=pd.DataFrame(data=[['Accounting',55000],['Engineering',65000],['Engineering',85000],['Human Resources',78000]], columns=['Department','Salary'],index=['Bob','Jake','Lisa','Sue'])
df1

#### Creating a data frame by passing a data dictionary to pd.DataFrame()

In this case, each key is a column name and the value for each key is a list with the data for the column.


__Reminder__: This is the structure of a dictionary:

dictionary_x= {'key1': values for key1, 'key2': values for key2, ...}

In [ ]:
pd.DataFrame (data={'Department':['Accounting','Engineering','Engineering','Human Resources'],'Salary':[55000, 65000, 85000, 78000]}, index=['Bob','Jake','Lisa','Sue'])

### Indexing and Slicing (= Subsetting) data frames and series

Indexing Pandas Dataframes and Series is similar to indexing NumPy arrays. However, there are a few differences.

In [ ]:
# Example of indexing a Pandas series. Use the Seriesy as example

Seriesy

In [ ]:
# Get the last element

Seriesy[-1]

In [ ]:
# Get the last element usnig its explicit index

Seriesy['d']

In [ ]:
# Slicing by explicit index

Seriesy['b':'d']

In [ ]:
# Slicing by implicit integer index

# b is index 1, c is index 2, and d is index 3. 

Seriesy[1:3]

#### Indexers: loc and iloc

These are special indexer attributes that help us avoid the confusion that can arise given that we 
can index Series and Dataframes using an explicit index (if defined) or the implicit integer indexes.

The i in __iloc__ means "integer", which means that iloc indexing uses the implicit integer indexes.

The __loc__ should be used when the Series (or data frame) has explicitely defined indexes.

In [ ]:
# The loc attribute allows indexing and slicing that always refer to the explicit index:

Seriesy.loc['b']

In [ ]:
Seriesy.loc[1]

The previous statement returns an error because the indexes of Seriesy have been explictily defined using letters. 

Therefore, we cannot use the implicit integer index with loc if another index has been defined.

In [ ]:
# The iloc attribute allows indexing and slicing that always references the implicit integer index:

Seriesy.iloc[1]

In [ ]:
Seriesy.iloc[1:3]

In [ ]:
Seriesy.loc['b':'d']

As we saw earlier, we can indexed and sliced Series and Dataframes without using loc and iloc. However, I think it is good practice to always index and slice Series and Dataframes by using either loc or iloc, so that we can be clear about what index we are using (the implicit or the explicit in case it has been defined).

### Indexing a Pandas DataFrame

We can index a __Pandas Dataframe column__ using a dictionary-style approach (i.e., using the col or cols name(s) inside a bracket)  or using an attribute-style approach(i.e., df.col_name). Both method yield the same result.

In [ ]:
# Lets's use df1 as a example

df1

In [ ]:
# Add a new column to df1 

df1['Age']=[25,28,36,45]
df1

In [ ]:
# Indexing using the column name, dictionary style

df1['Department']

In [ ]:
type(df1['Department'])

In [ ]:
df1['Department'].values

In [ ]:
df1[['Department','Age']]

In [ ]:
type(df1[['Department','Age']])

In [ ]:
# Indexing using the column name, attribute style

df1.Department

__Comment__: Although the attribute-style indexing is easy to apply, keep in mind that it does not work for all cases! 
For example, if the column names are not strings, or if the column names conflict with methods of the DataFrame, the attribute-style access is not possible. For example, the DataFrame class has a pop() method. If a col name is "pop", dataframe.pop will point to the method rather than the "pop" column.

If you pass numeric or Boolean indexes to slice a data frame WITHOUT specifying if they apply to rows or cols, 
they will be applied row-wise

In [ ]:
# Using numeric indexes on a DF

df1[1:3]

In [ ]:
# Using Boolean indexes on a DF

df1[[True, True, False, True]]

Avoid statements like these, use loc or ilco with data frames and series. See next:

In [ ]:
df1.iloc[1:3, ]

In [ ]:
# How this work? df1.loc[1:3, ]

In [ ]:
df1.loc[[True, True, False, True], ]

In [ ]:
df1.iloc[[True, True, False, True], ]

#### Examples of using iloc and loc with dataframes

In [ ]:
# Slicing a DF using iloc

df1.iloc[0:2,0:2]

In [ ]:
# Slicing a DF using loc

df1.loc[['Bob','Jake','Lisa'],'Department':'Age']

__IMPORTANT__: As this example showed, iloc uses Python's default indexing (where the upper lim isn't included),
but loc uses explicit indexing where the upper lim is indeed included.

In [ ]:
# ANOTHER EXAMPLE
# Let's create a dataframe without defined indexes and see what happens:

df2=pd.DataFrame(data= np.full((3,2),10), columns=['x1','x2'])
df2

In [ ]:
df2.iloc[0:2,0:2]

In [ ]:
df2.iloc[0:2, :'x2']

# iloc is for implicit indexes, but 'x2' is explicit

In [ ]:
df2

In [ ]:
df2.loc[0:2, :'x2']

In [ ]:
df2.loc[0:2,0:2]

We got an error with the previous statement because __loc__ uses explicitely defined indexes. df2 has defined col names (x1 and x2), so, when we use __loc__, we need to use those names

In [ ]:
# Compare the results of using df2.iloc[0:2,] and df2.loc[0:2,]

df2.iloc[0:2,]

In [ ]:
df2.loc[0:2,]

__Comment__: It might be confusing to use loc when the indexes are not defined like in the case of df2.
When indexes are not defined, I think is better to SLICE a DF using iloc, which uses implicit integer indexes and standard Python conventions for indexing.

__Comment__

If an index has not been defined; that is, the implicit integer index is the index, we can use both iloc and loc with the implicit integer index. However, in such a case, we should stick with iloc (loc behaves oddly with implicit integer indexes)

If an explicit index has been defined, we can use loc with this explicit index, but can still use iloc with the implicit integer index. However, in such a case, we should use loc and the explicit index (otherwise, what's the point of having an explicit index?)

### Boolean arrays as indexes (i.e., Boolean masking)

In [ ]:
df1

In [ ]:
# Ex: Subsetting df1 using a Boolean index

df1.loc[df1['Age']>30, ]

In [ ]:
# This would work as well, but the previous statement using .loc is better (= clearer)

df1.loc[df1['Age']>30]

In [ ]:
# Ex: Subsetting some columns of df1 using a Boolean index

df1.loc[df1['Age']>30, ['Department', 'Age']]

In [ ]:
# Ex: More complex Boolean expression

df1.loc[(df1['Age']>20) & (df1['Salary']<70000), ['Department', 'Salary']]

When writing a complex Boolean expression like the previous one, it is a good idea to save it in a variable and then use this varianle to index the dataframe.

In [ ]:
filt=(df1['Age']>20) & (df1['Salary']<70000)

filt

In [ ]:
df1.loc[filt, ['Department', 'Salary']]

In [ ]:
# How to index a single column using a Boolean mask?
# Option 1: Use loc to slice the desired rows and the desired column

df1.loc[df1['Age']>30, 'Salary']

In [ ]:
# Option 2
# Get the column that you desired, then, slice that colum using a Boolean mask

df1['Salary'][df1['Age']>30]

From what I have seen, option 1 is more often used than option 2

### NOTE: Do not go over the "Handling Null Values in Pandas" cells in class. Leave them for students to review independently. Why?

a) You will not need the following ideas for any assignments

b) It is unlikely that we need the following ideas for any of the code we will write in the two Machine Learning courses


The ideas covered in the folling cells are useful, so, it will be good if you can review them independently.

### Handling Null Values in Pandas

In [ ]:
# Let's use df2 as starting point

df2

In [ ]:
# Let's add one more column, x3, to df2

df2['x3']=np.full(3,10)
df2

In [ ]:
# Let's add more rows to df2

df2=pd.concat([df2,df2], ignore_index= True)
df2

In [ ]:
# Let's add three NaN values to df2
# Add NaN to row 2 and the last row of x1 
# Use np.nan

df2.loc[[1,5],'x1']=np.nan
df2

In [ ]:
# Add another NaN in the first row of x3

df2.loc[0,'x3']=np.nan
df2

Useful methods to handle missing values:isnull(), notnull(), and dropna()

In [ ]:
# Which rows in x1 have missing values

df2['x1'].isnull()

In [ ]:
# Get the rows in df2 where x1 is NULL

df2.loc[df2['x1'].isnull(), ]

In [ ]:
# Get the rows in df2 where x1 is NULL. Alternative 2

df2[df2['x1'].isnull()]

In [ ]:
# Get the rows in df2 where x1 is NOT NULL

df2.loc[df2['x1'].notnull(), ]

In [ ]:
# All x1 values that aren't NULL

df2.loc[df2['x1'].notnull(),'x1' ]

In [ ]:
# All x1 values that aren't NULL

df2['x1'] [df2['x1'].notnull()]

In [ ]:
# To eliminate rows or cols with null values, we can use: dropna()
# By defacult, dropna() drops rows with null values

df2.dropna()

Another useful function is fillna(). It can be used to fill out null values. Study independently

### Grouping in Pandas

#### Grouping example: The developers dataset

Download the developers csv file from Blackboard into your working directory

In [ ]:
df_dev= pd.read_csv('C:\\Users\\jheredi2\\Documents\\PythonDataAnalytics\\1-Datasets\\survey_results_public.csv', index_col='Respondent')

df_dev.head()

Before we cover grouping, let's see how to __sort the columns of a Pandas dataframe__

In [ ]:
pd.options.display.max_rows = 1000

In [ ]:
# Sort the Age column
# First, remove NAs and zeros

filter_Age= (df_dev['Age'].notnull()) & (df_dev['Age']!=0)

In [ ]:
df_dev.loc[filter_Age, 'Age'].sort_values()

Obviously more cleaning is needed because some people said they were 1 year old. Other said they were 99 years old.

We are going to skip this cleaning!

In [ ]:
# If you want to sort in descending order

df_dev.loc[filter_Age, 'Age'].sort_values(ascending= False)

In [ ]:
# You can also use sort_values() to sort all the rows of the dataframe according to a column

df_dev.loc[filter_Age, ].sort_values('Age', ascending= False)

Use of the __groupby() method__

In [ ]:
df_dev.groupby('Country')

The groupby() method returns a __DataFrameGroupBy__ object

A DataFrameGroupBy object is like an object that contains many dataframes, where each dataframe contains the data for each group (for each country in this case)

In [ ]:
# We can get each of those dataframes independently by using get_group()

df_dev.groupby('Country').get_group('United States')

# This returns a DataFrame object.
# Especifically, the dataframe for the rows where Country=='United States'

In [ ]:
# As practice, get the previous dataframe without using the groupby() method. 
# Instead, use an index to filter the dataframe

filter_country= df_dev["Country"] == "United States"

df_dev.loc[filter_country, ]

# Alternative code:  df_dev[filter_country]

In [ ]:
# Count the number of users for each social media app in each country

df_dev.groupby('Country')['SocialMedia'].value_counts()

In [ ]:
# Expand the results to see it better ...

df_dev.groupby('Country')['SocialMedia'].value_counts().head(20)

In [ ]:
# What kind of object was returned in the previous statement?

type(df_dev.groupby('Country')['SocialMedia'].value_counts())

In [ ]:
# Get the index of the object mentioned in the previous cell

df_dev.groupby('Country')['SocialMedia'].value_counts().index

In [ ]:
# We can index that Series for one specific group(= country):

# Ex: Get the count of social media users per app for US participants


df_dev.groupby('Country')['SocialMedia'].value_counts()['United States']

# Sequence followed by the code: Get all the groups, get one column from all the groups, get the counts, 
# and then get one specific group

In [ ]:
# Let's find another way of getting the results from the previous statement, still using the groupby() method:


df_dev.groupby('Country').get_group('United States')['SocialMedia'].value_counts()


# Sequence followed by the code: Get all the groups, get one specific group, get one column from that specific group, 
# and then get the counts

In [ ]:
# Get the median salary for developers in different countries
# The salary data is stored in the column named "ConvertedComp"

df_dev.groupby('Country')['ConvertedComp'].median()

In [ ]:
# Get the median salary for developers in India

df_dev.groupby('Country')['ConvertedComp'].median()['India']

In [ ]:
# Get the median salary for developers in India: Alternative 2

df_dev.groupby('Country').get_group('India')['ConvertedComp'].median()

In [ ]:
# Get the median and mean salary for developers in different countries

df_dev.groupby('Country')['ConvertedComp'].agg(['median','mean'])